.fo {
    margin-top: 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3rme;

}

.fo input {
    background-color: black;
}

textarea:focus,
.fo input {
    color: white;
}

.inpu {
    width: fit-content;
    border: none;
    margin: 1rem;
}

.pass {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.pass small {
    color: red;
}

.f1 {
    border-radius: 20px;
    border: 0.15rem solid red;
    display: flex;
    align-items: center;
    width: max-content;
    height: 50px;
    padding-right: 0.5rem;
}

.f2 {
    height: 50px;
    border-radius: 20px;
    border: 0.15rem solid red;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

.f3 {
    height: 50px;
    border-radius: 20px;
    border: 0.15rem solid red;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}