.for {
    margin-top: 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    border-radius: 20px;
    margin: 1rem;
}

.inpu {
    border-radius: 4px;
    width: fit-content;
}